#workbenchPageContent {
  max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}
button {
  cursor: pointer;
}
[data-icon-name="Calendar"]{
  color: #1c75bc;
}
[class^="readOnlyPlaceholder"]{
  font-style: italic;
}